<div id="<%= dom_id order %>">
  <p>
    <strong>Client:</strong>
    <%= order.client %>
  </p>

  <p>
    <strong>Order date:</strong>
    <%= order.order_date %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= order.total_price %>
  </p>

  <p>
    <strong>State:</strong>
    <%= order.state %>
  </p>

</div>
